/* spacing */
@media screen and (min-width: 678px) {
  .hidden-before-678px {
    display: table-cell;
  }

  thead th:nth-child(1) {
    width: 10%;
  }

  thead th:nth-child(2) {
    width: 15%;
  }

  thead th:nth-child(3) {
    width: 40%;
    font-size: 14px;
  }

  thead th:nth-child(4) {
    width: 15%;
  }
  thead th:nth-child(5) {
    width: 10;
  }

  thead th:nth-child(6) {
    width: 10%;
  }

  tbody td:nth-child(2),
  tbody td:nth-child(3),
  thead th:nth-child(2) {
    text-align: left;
  }
}
