@media screen and (min-width: 320px) {
  body {
    background-color: aliceblue;
  }

  .container {
    width: 100%;
  }

  form {
    position: relative;
  }
  .form-counter {
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(-100%);
    height: 40px;
    width: 80px;
    border: $accent-color 1px solid;
    text-align: center;
    line-height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: $accent-color;
    color: $third-text-color;
  }

  .input-data-section {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    margin-top: 50px;
  }

  .form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border: solid $accent-color 2px;
    border-radius: 10px;
    &:not(:first-child) {
      margin-top: 30px;
    }
  }

  .width-height-quantity-block {
    display: flex;
    flex-direction: column;

    & label {
      font-size: 24px;

      width: 80px;
    }
    & label:not(:first-child) {
      margin-top: 15px;
    }
    & .size-input {
      width: 90px;
      text-align: center;
      font-size: 36px;
      -moz-appearance: textfield;
      color: $accent-color;
      border-radius: 4px;
      font-weight: 700;
      //   padding-bottom: 10px;
      background-color: aliceblue;
    }

    /* Chrome, Safari, Edge, Opera */
    & .size-input::-webkit-outer-spin-button,
    & .size-input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    & .counter-block {
      margin-top: 10px;

      text-align: center;
    }

    & .counter {
      position: relative;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      width: 160px;
      margin-top: 20px;
      align-items: center;
      justify-content: space-between;
    }

    & .counter-value {
      color: $accent-color;
      font-size: 60px;
    }

    & button {
      position: relative;
      width: 40px;
      height: 40px;
      border: $accent-color-activ solid 2px;
      border-radius: 50%;
    }
    // & button:first-child {
    //   position: absolute;
    //   left: 0;
    // }

    // & button:last-child {
    //   position: absolute;
    //   right: 0;
    // }

    & button svg {
      position: absolute;
      width: 40px;
      height: 40px;
      padding: 6px;
      top: 50%;
      left: 50%;
      fill: $accent-color;
      transform: translate(-50%, -50%);
    }
    & .counter-button__icon {
      pointer-events: none;
    }
  }

  .size-input,
  .size-input-modal {
    width: 50px;
  }

  .required-option {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .side-of-hinge-radio-block {
    display: flex;
    align-items: center;
  }

  .system-of-pvc-block {
    margin-top: 20px;
  }

  .side-of-hinge-radio-block__label {
    margin: 0;
  }

  .side-of-hinge-css {
    margin-left: 20px;
  }

  .size-input {
    font: inherit;
    border: 2px solid #bdbdbd;
  }

  .valid {
    border-color: $accent-color;
  }

  .invalid {
    border-color: #f44336;
  }

  .form-group__input-field {
    display: flex;
    flex-direction: column;
  }

  .width-height-quantity-block label {
    margin-right: 20px;
  }

  // ------options? button----------------

  .icon-block {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    border-radius: 50%;
    background-color: aliceblue;
  }

  .remove-option-button-block {
    position: absolute;
    top: 10px;
    right: 10px;

    & button {
      position: relative;
      border-radius: 3px;
      background-color: $accent-color;
      border: $accent-color-hover;
      fill: aliceblue;
      border: none;
    }
    & button:hover,
    & button:focus {
      background-color: $accent-color-hover;
      border: $accent-color-activ;
    }
    & button:active {
      background-color: $accent-color-activ;
      top: 2px;
    }

    & button:disabled {
      background: $accent-color-disabled;
    }
    & button:not(:last-child) {
      margin-right: 10px;
    }
  }

  .button-icon {
    padding: 0;
    border-radius: 0;
    width: 60px;
    height: 80px;
    & .button-icon-svg {
      width: 40px;
      height: 100%;
    }
  }
}
